/*  your css code here. If applicable */
.content-n{
background-color: rgb(204, 204, 204);
}
.content-l{
	border:3px solid black;
	height:50%;
	background-color:white;
}
.content{
	text-align: center;
	
}
.content-2{
	list-style-type: none;
	border:1px solid black;
	background-color:white;
}
.content-3{
	text-align:center;
	
}
.content-4{
	text-align:center;
}